#fields {
    padding-top: 100px;
}

.btn {
    max-width: 30px;
    min-width: 30px;
    max-height: 30px;
    min-height: 30px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.btn-group-vertical {
    max-width: 300px;
    min-width: 300px;
}

.text-center {
    align-content: center;
    align-items: center;
}

#field, #efield {
    width: 300px;
}